:root{
    --colWidth: 64px;
    --fullWidth: calc(var(--colWidth) * 4);
}

td {
    width: var(--colWidth);
    /* border: 1px solid #ccc; */
    text-align: center;
    font-size: 1.5em;
    font-family: monospace;
    font-weight: bold;
    /* color: #fff; */
    /* background-color: #000; */
    cursor: pointer;
}

#message {
    background: ghostwhite; 
    font-size: 14px; 
    padding: 1px; 
    border: 1px solid lightgray; 
    border-radius: 5px;
    margin: 1px;
    width: var(--fullWidth);
}

#alphabet tr:nth-child(6n){
    background-color: #cfcf96;
}

button {
    width: var(--colWidth);
}